@model PostCore.Models.CompositionCollection;

<table id="amcontents-table" class="display table" style="width:100%">
    <thead>
        <tr>
            <th>@Html.DisplayName("Number")</th>
            <th>@Html.DisplayName("Description")</th>
            <th>@Html.DisplayName("Version")</th>
            <th>@Html.DisplayName("Date")</th>
            <th class="col-sm-1"></th>
            <th class="col-sm-1"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.IE_AM_C)
        {
            <tr>
                <td>@item.Assetcontentnumber</td>
                <td>@item.Assetcontentdescription</td>
                <td>@item.Assetcontentversion</td>
                <td>@item.Assetcontentdateassigned.ToString("MM/dd/yyyy")</td>
                <td>
                    <!-- Update button -->
                    <button class="btn btn-primary update-content-button" style="min-width: 80px;"
                            id="updateContentButton_@item.Uniquecontentid"
                            data-toggle="modal" data-target="#updateContentModal_@item.Uniquecontentid"
                            data-url="/AMContent/_ContentUpdate/@item.Uniqueassetidcont?c_id=@item.Uniquecontentid">
                        Update
                    </button>
                </td>
                <td>
                    <!-- Delete button -->
                    <button class="btn btn-danger delete-content-button" style="min-width: 80px;"
                            id="deleteContentButton_@item.Uniquecontentid"
                            data-toggle="modal" data-target="#deleteContentModal_@item.Uniquecontentid"
                            data-url="/AMContent/_ContentDelete/@item.Uniqueassetidcont?c_id=@item.Uniquecontentid">
                        Delete
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="modal fade" id="createContentModal" role="dialog" data-url="@Url.Action("_ContentCreate", "AMContent", new { id = Model.AM.Uniqueassetid })">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createContentModalLabel">Create Asset Content Record for Asset ID @Model.AM.Assetid</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="create-content-modal-body-content">
                <!-- Partial view content will be loaded here -->
            </div>
        </div>
    </div>
</div>
@foreach (var item in Model.IE_AM_C)
{
    <div class="modal fade" id="updateContentModal_@item.Uniquecontentid" role="dialog" data-url="@Url.Action("_ContentUpdate", "AMContent", new { id = item.Uniqueassetidcont, c_id = item.Uniquecontentid })" aria-labelledby="updateContentModal_@item.Uniquecontentid">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateContentModalLabel">Update Asset Content Record for Content Number: @item.Assetcontentnumber</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="{updateContentModalBody_@item.Uniquecontentid}">
                    <!-- Update form content will be loaded here -->
                </div>
            </div>
        </div>
    </div>
}
@foreach (var item in Model.IE_AM_C)
{
    <div class="modal fade" id="deleteContentModal_@item.Uniquecontentid" role="dialog" data-url="@Url.Action("_ContentDelete", "AMContent", new { id = item.Uniqueassetidcont, c_id = item.Uniquecontentid })" aria-labelledby="deleteContentModal_@item.Uniquecontentid">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteContentModalLabel">Are you sure you want to delete content record for content number: @item.Assetcontentnumber?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="{deleteContentModalBody_@item.Uniquecontentid}">
                    <!-- Delete confirmation form content will be loaded here -->
                </div>
            </div>
        </div>
    </div>
}