@model IEnumerable<AssetMgmt>
@using PostCore.Models;
@using System.Text.Encodings.Web
@using System.Globalization;

<table id="assets-table" class="display table" style="width:100%">
    <thead>
        <tr>
            <th>Url</th>
            <th>@Html.DisplayName("ID")</th>
            <th>@Html.DisplayName("Type")</th>
            <th>@Html.DisplayName("Name")</th>
            <th>@Html.DisplayName("Category")</th>
            <th>@Html.DisplayName("WO#")</th>
            <th>@Html.DisplayName("PO#")</th>
            <th>@Html.DisplayName("Date")</th>
            <th>@Html.DisplayName("PM")</th>
            <th>@Html.DisplayName("Amount")</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
    <tfoot>
        <tr>
            <th>Url</th>
            <th>@Html.DisplayName("ID")</th>
            <th>@Html.DisplayName("Type")</th>
            <th>@Html.DisplayName("Name")</th>
            <th>@Html.DisplayName("Category")</th>
            <th>@Html.DisplayName("WO#")</th>
            <th>@Html.DisplayName("PO#")</th>
            <th>@Html.DisplayName("Date")</th>
            <th>@Html.DisplayName("PM")</th>
            <th>@Html.DisplayName("Amount")</th>
        </tr>
    </tfoot>
</table>

