@model PostCore.Models.CompositionCollection
@using PostCore.Models;
@using System.Text.Encodings.Web
@{
    ViewBag.Title = "Index";
}
<br />
<h2 class="text-center">PostCore - Asset Management</h2>
<br />

<table id="assets-table" class="display table" style="width:100%">
    <thead>
        <tr>
            <th>Url</th>
            <th>@Html.DisplayName("ID")</th>
            <th>@Html.DisplayName("Type")</th>
            <th>@Html.DisplayName("Name")</th>
            <th>@Html.DisplayName("Category")</th>
            <th>@Html.DisplayName("WO#")</th>
            <th>@Html.DisplayName("PO#")</th>
            <th>@Html.DisplayName("Date")</th>
            <th>@Html.DisplayName("PM")</th>
            <th>@Html.DisplayName("Amount")</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<br />

<div class="modal fade" id="createAssetModal" role="dialog" data-url="@Url.Action("_AssetCreate", "AssetMgmt")">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createAssetModalLabel">Create New Asset</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="create-asset-modal-body-content">
                <div id="validationErrors" class="alert alert-danger" style="display:none;"></div> <!-- Validation Errors -->
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script>
        $(function () {
            $('#createAssetModal').on('show.bs.modal', function (e) {
                var url = $(this).data('url');
                var modalBody = $(this).find('.modal-body');
                $.ajax({
                    url: url,
                    type: 'GET',
                    dataType: 'html',
                    success: function (data) {
                        modalBody.html(data);
                    },
                    error: function () {
                        modalBody.html('<div class="alert alert-danger">Failed to load content.</div>');
                    }
                });
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#assets-table').DataTable({
                ajax: {
                    "url": "/AssetMgmt/GetAssetMgmtData",
                    "type": "GET",
                    "datatype": "json",
                    "dataSrc": function (json) {
                        console.log(json);
                        return json.data.$values;
                    }
                },
                columns: [
                    {
                        "data": "Uniqueassetid", "render": function (data, type, row, meta) {
                            var detailsUrl = `/AssetMgmt/AssetDetails/${data}`;
                            return `<a href="${detailsUrl}" class="btn btn-outline-secondary">Details</a>`;
                        }
                    },
                    { "data": "Assetid" },
                    { "data": "Assettype" },
                    { "data": "Assetname" },
                    { "data": "Assetcategory" },
                    { "data": "Assetworkordernumber" },
                    { "data": "Assetpurchaseordernumber" },
                    {
                        "data": "Assetdate", "render": function (data, type, row) {
                            return moment(data).format('MM/DD/YYYY');
                        }
                    },
                    { "data": "Assetprojectmanager" },
                    {
                        "data": "Assetequipmentamount", "render": function (data, type, row) {
                            return new Intl.NumberFormat('en-US', {
                                style: 'currency',
                                currency: 'USD',
                                minimumFractionDigits: 2,
                                maximumFractionDigits: 2
                            }).format(data);
                        }
                    },
                    { "data": "Assetdescription" },
                ],
                columnDefs: [
                    { targets: 0, searchable: false, orderable: false },
                    { targets: 10, searchable: true, visible: false },
                ],
                layout: {
                    topStart: {
                        buttons: [
                            {
                                text: 'Create',
                                className: 'btn btn-outline-secondary',
                                action: function (e, dt, node, config) {
                                    $('#createAssetModal').modal('show');
                                },
                                init: function (api, node, config) {
                                    $(node).removeClass('dt-button')
                                }
                            }
                        ]
                    },
                    top2Start: 'pageLength',
                },
                initComplete: () => { $(".table").show(); },
                responsive: true,
                scrollY: '500px',
                scrollCollapse: true,
                paging: true,
            });
        });
    </script>
}